@using ActionCommandGame.Sdk.Abstractions
@using ActionCommandGame.BlazorApp.Providers
@inherits LayoutComponentBase
@inject ITokenStore TokenStore
@inject TokenAuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    
    <main>
        <div style="position: absolute; top: 10px; right: 10px;">
            <button @onclick="SignOut" class="btn btn-primary" style="background-color: #8a2224; border-color: #8a2224">Sign Out</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private async Task SignOut()
    {
        await TokenStore.SaveTokenAsync(string.Empty);
        AuthenticationStateProvider.NotifyAuthenticationStateChanged();
    }

}
