@using ActionCommandGame.Sdk.Abstractions
@using ActionCommandGame.BlazorApp.Providers
@inherits LayoutComponentBase
@inject ITokenStore TokenStore
@inject TokenAuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    
    <main>
        <div class="top-row px-4">
            <button @onclick="SignOut" class="btn btn-primary">Sign Out</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private async Task SignOut()
    {
        await TokenStore.SaveTokenAsync(string.Empty);
        AuthenticationStateProvider.NotifyAuthenticationStateChanged();
    }

}
